In [252]:
import numpy as np
import pandas as pd
df=pd.read_csv('OnlineRetail.csv',encoding='ISO-8859-1')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [253]:
df.shape

(541909, 8)

In [254]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [255]:
df.duplicated().sum()

np.int64(5268)

In [256]:
df.drop_duplicates(inplace=True)

In [257]:
df.dropna(inplace=True)

In [258]:
df.shape

(401604, 8)

In [259]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 401604 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    401604 non-null  object
 1   StockCode    401604 non-null  object
 2   Description  401604 non-null  object
 3   Quantity     401604 non-null  int64
 4   InvoiceDate  401604 non-null  object
 5   UnitPrice    401604 non-null  float64
 6   CustomerID   401604 non-null  float64
 7   Country      401604 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.6+ MB

In [260]:
df["CustomerID"]=df["CustomerID"].astype("Int64")

In [261]:
df=df[(df["Quantity"]>0)&(df["UnitPrice"]>0)]

In [262]:
from sklearn.feature_selection import VarianceThreshold
numeric_df=df.select_dtypes(include='number')
constant_filter=VarianceThreshold(threshold=0)
constant_filter.fit(numeric_df)
constant_cols=[column for column,var in zip(numeric_df.columns, constant_filter.variances_) if var == 0]
constant_cols

[]

In [263]:
low_var=VarianceThreshold(threshold=0.01)
low_var.fit(numeric_df)
low_var=[column for column,var in zip(numeric_df.columns, low_var.variances_) if var<0.01]
low_var

[]

In [264]:
categorical_df=df.select_dtypes(include='object')
constant_cats=[col for col in categorical_df.columns if categorical_df[col].nunique() == 1]
constant_cats

[]

In [265]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850,United Kingdom

In [266]:
df['Total']=df['Quantity'] * df['UnitPrice']

In [267]:
import pandas as pd
numeric_cols = df.select_dtypes(include='number').columns
for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR    
    df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]

In [268]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850,United Kingdom,20.34

In [269]:
for col in numeric_cols:
    df[col]=np.log1p(df[col])

In [270]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 319806 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    319806 non-null  object
 1   StockCode    319806 non-null  object
 2   Description  319806 non-null  object
 3   Quantity     319806 non-null  float64
 4   InvoiceDate  319806 non-null  object
 5   UnitPrice    319806 non-null  float64
 6   CustomerID   319806 non-null  Float64
 7   Country      319806 non-null  object
 8   Total        319806 non-null  float64
dtypes: Float64(1), float64(3), object(5)
memory usage: 24.7+ MB

In [271]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1.945910,01-12-2010 08:26,1.266948,9.789815,United Kingdom,2.791165
1,536365,71053,WHITE METAL LANTERN,1.945910,01-12-2010 08:26,1.479329,9.789815,United Kingdom,3.060583
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,2.197225,01-12-2010 08:26,1.321756,9.789815,United Kingdom,3.135494
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,1.945910,01-12-2010 08:26,1.479329,9.789815,United Kingdom,3.060583
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,1.945910,01-12-2010 08:26,1.479329,9.789815,United Kingdom,3.060583

In [272]:
df.isna().sum()
df.duplicated().sum()

np.int64(0)

In [273]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1.945910,01-12-2010 08:26,1.266948,9.789815,United Kingdom,2.791165
1,536365,71053,WHITE METAL LANTERN,1.945910,01-12-2010 08:26,1.479329,9.789815,United Kingdom,3.060583
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,2.197225,01-12-2010 08:26,1.321756,9.789815,United Kingdom,3.135494
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,1.945910,01-12-2010 08:26,1.479329,9.789815,United Kingdom,3.060583
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,1.945910,01-12-2010 08:26,1.479329,9.789815,United Kingdom,3.060583

In [274]:
df.to_csv('Cleaned Data.csv',index=False)